<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="menu">
    <!-- ################ MENU START ############### -->
    <nav class="menu">
        <h1>Menu</h1>
        <ul class="sidebar-nav">
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>
    </nav>
    <!-- ################ MENU END ############### -->
</th:block>
</body>
</html>