<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{sample/layouts/main}">
<head>
    <title>Lists All Users</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <!-- ################ CONTENT START ############### -->
    <main class="content">
        <div class="container">
            <h1>CONTENT</h1>
            <div class="row">
                <div class="col-md-12">
                    <h2>List : Users </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Name </th>
                            <th> Email </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${items}">
                            <td><span th:text="${item.name}"> Name </span></td>
                            <td><span th:text="${item.email}"> Email </span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <!-- ################ CONTENT END ############### -->
</div>
</body>
</html>